<div class="container-fluid homeImg">
  <div class="row">
    <div class="col-4 d-flex justify-content-center align-items-center flex-column">
      <h1 class="text-center m-3">Welcome to the Marvel World</h1>
      <h4 class="text-justify m-3 mt-5">Here you can browses or search your favorite hero and find informations such as related comics, movies or
        dedicated series where they belongs. Have fun !</h4>
        <div class="text-center">
          <a class="btn btm-lg btn-danger m-3" (click)="goToPage('herolist')">Start Now</a>
        </div>
    </div>
    <div class="col-8"></div>
  </div>
</div>

